body, li, p{
    margin: 10px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    font-family: 'Press Start 2P', cursive;

}

.logo{
    width: 200px;
}

a{
    text-decoration: none;
    color: white;

}

.header{

    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.menu{
    display: flex;

}

.menu li{
    margin-left: 10px;

}

.menu li a{
    display: block;
    padding: 10px;
    background-color: #b00c22;
}

.flex{
    min-height: 40vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.imagem{
    width:400px;
    height:auto;
}
body, li, p{
    margin: 10px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    font-family: 'Press Start 2P', cursive;

}

.logo{
    width: 200px;
}

a{
    text-decoration: none;
    color: white;

}

.header{

    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.menu{
    display: flex;

}

.menu li{
    margin-left: 10px;

}

.menu li a{
    display: block;
    padding: 10px;
    background-color: #b00c22;
}

.flex{
    min-height: 40vh;
    background-color: whitesmoke;
    display: flex;

}
   
{

.paragrafo{
    padding: 10px;
    text-align: justify;
}

.footer{
    background-color: black;
    padding: 30px;
    color: black;
    font-size: 30px;
}

.redeSociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redeLogo{
    margin: 10px;
    padding: 5px;
    width: 50px;
    height: auto;
}
